::-webkit-scrollbar {
  width: 0px;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}
header {
  height: 60px;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(25, 29, 29, 0.932);
}
header span {
  font-family: monospace;
  color: rgb(49, 139, 199);
  font-size: 35px;
}
header i {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 41.5%;
  margin-right: 20px;
  color: rgb(157, 241, 22);
}
.cont {
  font-family: monospace;
  width: 100%;
  height: 630px;
  margin-top: 70px;
}
.div {
  display: flex;
  height: 100%;
  width: 100%;
}
#div1 {
  width: 40%;
  height: 100%;
  margin-right: 5px;
  box-shadow: rgba(144, 21, 168, 0.938) 0px 5px 15px;
}
#div1 + div {
  width: 60%;
  height: 100%;
}
#div1 img {
  width: 100%;
  height: 100%;
}
#div1 img:hover {
  transform: scale(1.1);
}
#div1 + div {
  padding-left: 30px;
  background-color: rgb(174, 184, 184);
  box-shadow: rgba(172, 25, 74, 0.938) 0px 5px 15px;
}
#div1 + div h2 {
  color: rgb(7, 10, 12);
  font-size: 30px;
}
#div1 + div h4 {
  font-size: 17px;
}
#div1 + div i {
  margin-right: 5px;
  color: rgb(10, 10, 10);
}
p {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}
#div1 + div > div i {
  color: rgb(19, 22, 19);
  font-size: 19px;
  cursor: pointer;
}
